header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: $header_bg;

    .container {
        display: flex;
        gap: 450px;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 67px;
    }

    .hamburger {
        display: none;
    }

    .logo {
        width: 96px;
        height: 50px;
    }

    .nav {
        display: flex;
        list-style-type: none;
        gap: 48.25px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: $header_nav;
            font-weight: 600;
            font-size: 18px;

            @media (hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .active {
            color: $active_nav;

            @media (hover: hover) {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .networks {
        display: flex;
        gap: 30px;

        img {
            width: 40px;
            height: 40px;
        }

        .user {
            position: relative;

            button {
                background: transparent;
                border: none;
                cursor: pointer;
            }

            .user_popup {
                position: absolute;
                right: 0;
                top: 50px;
                background: $footer_color;
                border: 1px solid $pop_up_border;
                border-radius: 5px;
                padding: 20px 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 20px;
                text-align: center;

                .sign_out {
                    font-size: 18px;
                    border: 1px solid $pop_up_border;
                    padding: 6px 0px;
                    border-radius: 5px;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: $orange_btn_hover;
                        color: $footer_color;
                        border: 1px solid $orange_btn_hover;
                    }
                }

                .user_name {
                    font-size: 25px;
                    font-weight: 600;
                }
            }

            .hidden {
                display: none;
            }

            .user_icon {
                display: flex;
                align-items: center;
                gap: 10px;

                .user_name {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }

    .lang_switcher {
        display: flex;
        gap: 8px;

        .lang_btn {
            padding: 6px 10px;
            border: none;
            cursor: pointer;
            background: transparent;
            font-weight: 600;
            opacity: 0.5;
            font-size: 20px;

            &.active {
                opacity: 1;
                border-bottom: 3px solid black;
            }
        }
    }

    @include responsive(lg) {
        .container {
            gap: 163px;
        }

        .menu {
            gap: 80px;
        }

        .nav {
            gap: 30px;
        }
    }

    @include responsive(md) {
        .container {
            gap: 447px;
            align-items: center;
        }

        .networks,
        .menu {
            display: none;
        }

        .hamburger {
            display: block;
            background-color: transparent;
            border: none;
            width: 30px;
            height: 30px;
        }
    }

    @include responsive(sm) {
        .container {
            gap: 146px;
        }
    }
}