$header_bg: #F58021;
$header_nav: #000000;
$active_nav: #00A092;
$turquoise_btn_hover: #05786E;
$footer_color: #FFFFFF;
$footer_bg: #20113D;
$footer_bg_light: #bd9cff;
$orange_btn_hover: #D26004;
$bg_blur: rgba(0, 0, 0, 0.7);
$pop_up_border: #A4A8AE;
$auth: rgb(21, 131, 21);
$auth_hover: rgb(9, 100, 9);
$auth_disabled: rgb(122, 122, 122);
$error: red;